@page "/"
@using TAndCal.Model;
@using TAndCal.Utility.Data.Repository.Interface;
@inject Microsoft.AspNetCore.Components.NavigationManager navigation
@inject IStudentRepository _stduentRepository
<h1>Ui Page Type</h1>
<a href="/student/Create">Create New</a>
@if (students == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Roll No</th>
				<th>Class</th>
				<th>Adress</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in students)
			{
				
				<tr>
					<td> @item.Name </td>
					<td> @item.RollNo </td>
					<td> @item.Class </td>
					<td> @item.Address </td>
					<td><a class="btn btn-light" @onclick="@(()=>Edit(item.Id))"> Edit</a> | <a class="btn btn-danger" @onclick="@(() => Delete(item))"> Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<StudentModel> students;

	protected override async Task OnInitializedAsync()
	{
		students = await _stduentRepository.Get();
	}
	async Task  Delete(StudentModel students)
	{
	    await _stduentRepository.Delete(students.Id);
		navigation.NavigateTo("/",true);

	}
	 void Edit(int id)
	{
	navigation.NavigateTo($"/student/Update/{id}");
	}

    
}
