@page "/"
@using TAndCal.Model;
@using TAndCal.Utility.Data.Service.Interface;
@inject Microsoft.AspNetCore.Components.NavigationManager navigation
@inject IStudentService _stduentService
<h1>Ui Page Type</h1>
<a href="/student/Create">Create New</a>
@if (students == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>RollNo</th>
				<th>Class</th>
				<th>Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in students)
			{
				
				<tr>
					<td> @item.Name </td>
					<td> @item.RollNo </td>
					<td> @item.Class </td>
					<td> @item.Address </td>
					<td><a @onclick="@(()=>Edit(item.Id))"><button class="button-outline-primary button-outline ripple">Edit</button></a> | <a  @onclick="@(() => Delete(item))"><button class="button-outline-danger button-outline ripple">Delete</button></a></td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<StudentModel> students;

	protected override async Task OnInitializedAsync()
	{
		students = await _stduentService.Get();
	}
	async Task  Delete(StudentModel students)
	{
	    await _stduentService.Delete(students.Id);
		navigation.NavigateTo("/",true);

	}
	 void Edit(int id)
	{
	navigation.NavigateTo($"/student/Update/{id}");
	}

    
}
